<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BookingDao">

    <delete id="cancelBooking" parameterType="int">
        DELETE FROM bookingclinic WHERE booking_id = #{booking_id}
    </delete>

    <!-- 其他的SQL映射 -->

</mapper>